
<img class="imagen3" src="https://i.ibb.co/THKxTwc/japonlandiapng.png" alt="tah roto">

<nav class="navbar navbar-expand-sm ">
  <!-- Brand -->
  <a class="navbar-brand" href="#"> <img src="" alt=""> Home</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Contacta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cubiertos</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Comida kawaii
      </a>
     
      
          <div class="dropdown-menu">
            <a class="dropdown-item" href="chuches/chuches.component.html">Chuches</a>
            <a class="dropdown-item" href="bebidas/bebidas.component.html">Bebidas</a>
            <a class="dropdown-item" href="otros/otros.component.html">Otros</a>
          </div>
        
      
      
    </li>
  </ul>
  <li class="moricion ml-auto">
    <form class="form-inline ">
      <input class="form-control mr-sm-3" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline  " type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
    </form>
  </li>
</nav>

<div class="container">
  <h2>BIENVENIDO A JAPOLANDIA!</h2>
  
  <div class="descripcion">
    <h3>Nos presentamos!</h3>
   <div class="texto2">
     <p>Esto es una tienda japonesa, hecha con toda la ilusión, espero que </p>
     <p>disfrutes de todos los sabores y colores, de aquí nuestros productos!</p>
     <p>
       Tienes desde un riquisimo y blandito mochi, hasta una crujiente y sabrosa galletita de fresa 
     </p>
     <p>Todo el amor plasmado, en un mismo sitio, con mil y una cosas al mejor precio</p>
     <p>desde aquí directamente a tu mesa!!</p>
     <p>No te pierdas todo lo kawaii y rico de lo mejor de Japón!!</p>
   </div>
   
  </div>
  <img class="imagen-kawaii" src="https://i.pinimg.com/474x/d3/0a/5f/d30a5f5e292cc4c081553f1af61e4aa3.jpg" alt="sin-imagen">
    <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
</div>
<div class="icon-bar">
     
  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
 
  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.youtube.com" class="youtube"><i class="fa fa-youtube"></i></a> 
</div>
<footer>
  <div class="footer">
    <img class="imagen2" src="https://wallpaper.dog/large/970934.jpg" alt="tah roto">
</div>
</footer>
