
<img class="imagen3" src="https://i.ibb.co/THKxTwc/japonlandiapng.png" alt="tah roto">

<nav class="navbar navbar-expand-sm ">
  <!-- Brand -->
  <a class="navbar-brand" href="#"> <img src="" alt=""> Home</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Contacta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cubiertos</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Comida kawaii
      </a>
     
      
          <div class="dropdown-menu">
            <a class="dropdown-item" href="chuches/chuches.component.html">Chuches</a>
            <a class="dropdown-item" href="bebidas/bebidas.component.html">Bebidas</a>
            <a class="dropdown-item" href="otros/otros.component.html">Otros</a>
          </div>
        
      
      
    </li>
  </ul>
  <li class="moricion ml-auto">
    <form class="form-inline ">
      <input class="form-control mr-sm-3" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline  " type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
    </form>
  </li>
</nav>

<div class="container">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/PTzOLrBHEWsL9N0j3asFva_L4paf5h7FVKcgaQBleOWCJLHXeWM1zM1aVma95oGJOrlIhwx3x8-_6-1BCHi_WYmGER5gaVqkDwsqN_JZ253NFLBU-9IPxWhDMRAqwyKnJG0" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
<div class="icon-bar">
     
  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
 
  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.youtube.com" class="youtube"><i class="fa fa-youtube"></i></a> 
</div>
<footer>
  <div class="footer">
    <img class="imagen2" src="https://wallpaper.dog/large/970934.jpg" alt="tah roto">
</div>
</footer>
